[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=redis.devopsju.online
Environment=catalogue.devopsju.online
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target